
   /*Dmg output*/
   .Dmgout-containers{
    display:grid;
  }
  .D-R{
    display: grid;
  position: relative;
  border:2px solid grey;
  background-color: grey;
 
  }
  .avrdmgcritt{
  background-color: thistle;
  display: grid;
  position: relative;
  
  }
.avrdmg{display: grid;
    background-color: green;
    border: 2px solid green;
  position: relative;

  }
  .Dmgran{display: grid;
    background-color: fuchsia;
  position: relative;
 
  }
  .low-dmg{
    display: grid;
  position: relative;
  background-color: red;
 
  }
  .high-dmg{display: grid;
  position: relative;
  background-color: royalblue;
  
  }
  .avrcrit-dmg{
    background-color: skyblue;
    display: grid;
  position: relative;
  
  
  }
  .dmg-rng-critt{
    background-color: salmon;
    display: grid;
  position: relative;
  }
  .low-critt{
    background-color: silver; 
    display: grid;
  position: relative;
 }
  .high-critt{
    background-color: gold;
    display: grid;
  position: relative;
}
/*end off dmg out */

/*dont know if in use */
/* input{
  position:fixed;
  display: flex;
  flex-wrap:wrap;
} */.dropdown {
  position: fixed;
  display: inline-block;
  }
 
.dropdown-content {
  display:block;
  width: 700px;
  position:fixed;
  background-color: #f9f9f9;
}

.dropdown:hover .dropdown-content {
  display: block;
}