.botox{
    display: grid;
    position: absolute;
    width:89vw;
    top:40vh;
    left:9.5vw;
}


.LVLbox { 
    /* lvl box*/
    display: grid;
    position: absolute;
    
    height:7.5vh;
    width:49.9vw;
    
    
  }
  .button{/* the lvl button*/
    display: grid; 
      position: absolute;
    background-color: blue;
   
    
    border: 2px solid black;
    
  
  }
  #LVL {/* the lvl input*/
    display: grid; 
      position: absolute;
    background-color: blue;
    border: 2px solid black;
  }

  /* blood line contaier */

.BL-containers{
    display: grid;
    position: absolute;
    top:0vh;
   height:23vh;
    width:39.3vw;
    
   
  }
  .bloodline{
      display: grid;
       position: absolute;
      font-size:2vh;
     border-top: 2px solid black;
     border-bottom: 2px solid black;
      background-color: crimson;
      width:19.6vw;
    }
    .bloodlinelvl{
      display: grid;
       position: absolute;
      font-size:2vh;
      border-bottom: 2px solid black;
      background-color: crimson;
      width:19.6vw;
    }
    .Blood-line{
      display: grid;
       position: absolute;
      font-size:2vh;
     border: 1px solid black;
       background-color: crimson;
       width:19.7vw;
      }
    .Blood-Line-LvL{
      display: grid;
       position: absolute;
      font-size:2vh;
      border:1px solid black;
      top:-0.1vh;
       background-color: crimson;
       width:19.82vw;
      }
  
  /* end off BL related */
  .fq {
    display: grid;
    position: absolute;
    top:30vh;
    width:8.93vw;
    height:9.7vh;
    border-bottom:1px solid black;
  }
  .Fixed1{
    display: grid;
    position: absolute;
    justify-content: center;
    
  
  }
  .quarter1{
    display: grid;
    position: absolute;
    background-color: brown;
    
    justify-content: center;
    
  }
  .NY{
    display: grid;
    position: absolute;
    background-color: brown;
    
    justify-content: center;
    
  }
  .Fixed2{
    display: grid;
    position: absolute;
    background-color: brown;
   
    justify-content: center;
    
  }
  .quarter2{
    display: grid;
    position: absolute;
    background-color: brown;
    
    justify-content: center;
   
  }
  .YN{
    display: grid;
    position: absolute;
    background-color: brown;
    border-bottom:1px solid black;
    justify-content: center;
   
  }