.Ninjasheet1-containers {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 01fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "Ninjainfo1-containers Ninjainfo1-containers Ninjainfo1-containers Ninjainfo1-containers"
    "Ninjainfo1-containers Ninjainfo1-containers Ninjainfo1-containers Ninjainfo1-containers"
    "abg Seal Seals TB"
    "botox botox botox botox"
    "input-container The-Stats The-Stats Efficantcy"
    "input-containers txt Stats Effi-container"
    "input-containers txt Stats Effi-container"
    "input-containers txt Stats Effi-container"
    "input-containers txt Stats Effi-container"
    "input-containers txt Stats Effi-container"
    "Dmgout-containers Dmgout-containers Dmgout-containers Dmgout-containers"
    "Dmgout-containers Dmgout-containers Dmgout-containers Dmgout-containers";
}

.Ninjainfo1-containers {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "ninjaImg theninja position"
    "er LVLbox Penalty-containers";
  grid-area: Ninjainfo1-containers;
}
.botox {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr ;
  gap: 0px 0px;
  grid-template-areas:
  "fq Item-container Item-container BL-containers";
  grid-area: botox;
}
.position { grid-area: position; }

.theninja {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "hei"
    "ID"
    "NinjaName";
  grid-area: theninja;
}

.hei { grid-area: hei; }

.ID { grid-area: ID; }

.NinjaName { grid-area: NinjaName; }

.ninjaImg { grid-area: ninjaImg; }

.er {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "Cost"
    "Chakra";
  grid-area: er;
}

.Cost { grid-area: Cost; }

.Chakra { grid-area: Chakra; }

.LVLbox {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "button button button"
    "LVL LVL LVL";
  grid-area: LVLbox;
}

.button { grid-area: button; }

.LVL { grid-area: LVL; }

.Penalty-containers {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "is-off"
    "Y-N"
    "offpos"
    "pen";
  grid-area: Penalty-containers;
}

.is-off { grid-area: is-off; }

.Y-N { grid-area: Y-N; }

.offpos { grid-area: offpos; }

.pen { grid-area: pen; }


.fq {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "Fixed1"
    "Fixed2";
  grid-area: fq;
}

.Fixed1 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "quarter1"
    "NY";
  grid-area: Fixed1;
}

.quarter1 { grid-area: quarter1; }

.NY { grid-area: NY; }

.Fixed2 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "quarter2"
    "YN";
  grid-area: Fixed2;
}

.quarter2 { grid-area: quarter2; }

.YN { grid-area: YN; }

.Item-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-area: Item-container;
}

.itemTg1 { grid-area: 1 / 1 / 2 / 2; }

.itemTg2 { grid-area: 2 / 1 / 3 / 2; }

.itemTg3 { grid-area: 3 / 1 / 4 / 2; }

.item1 { grid-area: 1 / 2 / 2 / 3; }

.item2 { grid-area: 2 / 2 / 3 / 3; }

.item3 { grid-area: 3 / 2 / 4 / 3; }

.ItemTg { grid-area: 1 / 1 / 4 / 2; }

.ItemEq { grid-area: 1 / 2 / 4 / 3; }

.BL-containers {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "bloodline Blood-line"
    "bloodlinelvl Blood-Line-LvL";
  grid-area: BL-containers;
}

.bloodline { grid-area: bloodline; }

.Blood-line { grid-area: Blood-line; }

.Blood-Line-LvL { grid-area: Blood-Line-LvL; }

.bloodlinelvl { grid-area: bloodlinelvl; }

.input-container { grid-area: input-container; }

.Effi-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "tai-effi"
    "nin-effi"
    "buki-effi"
    "Stam-effi"
    "ele-effi"
    "gen-effi"
    "atk-effi"
    "strike-effi"
    "hit-effi"
    "reroll-effi"
    "focus-effi"
    "focusburst-effi"
    "focusrange-effi"
    "boost-effi"
    "buki-rec-effi"
    "gen-act-effi"
    "gen-mastery-effi"
    "gen-rec-effi"
    "endu-effi";
  grid-area: Effi-container;
}

.tai-effi { grid-area: tai-effi; }

.nin-effi { grid-area: nin-effi; }

.buki-effi { grid-area: buki-effi; }

.Stam-effi { grid-area: Stam-effi; }

.ele-effi { grid-area: ele-effi; }

.gen-effi { grid-area: gen-effi; }

.atk-effi { grid-area: atk-effi; }

.strike-effi { grid-area: strike-effi; }

.hit-effi { grid-area: hit-effi; }

.reroll-effi { grid-area: reroll-effi; }

.focus-effi { grid-area: focus-effi; }

.focusburst-effi { grid-area: focusburst-effi; }

.focusrange-effi { grid-area: focusrange-effi; }

.boost-effi { grid-area: boost-effi; }

.buki-rec-effi { grid-area: buki-rec-effi; }

.gen-act-effi { grid-area: gen-act-effi; }

.gen-mastery-effi { grid-area: gen-mastery-effi; }

.gen-rec-effi { grid-area: gen-rec-effi; }

.endu-effi { grid-area: endu-effi; }

.Efficantcy { grid-area: Efficantcy; }

.The-Stats { grid-area: The-Stats; }

.txt {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "tai"
    "nin"
    "buki"
    "stam"
    "ele"
    "gen"
    "atk"
    "strike"
    "hit"
    "reroll"
    "focus"
    "focus-burst"
    "focus-range"
    "boost"
    "buki-rec"
    "gen-act"
    "gen-mastery"
    "gen-rec"
    "endu";
  grid-area: txt;
}

.tai { grid-area: tai; }

.nin { grid-area: nin; }

.buki { grid-area: buki; }

.stam { grid-area: stam; }

.ele { grid-area: ele; }

.gen { grid-area: gen; }

.atk { grid-area: atk; }

.strike { grid-area: strike; }

.hit { grid-area: hit; }

.reroll { grid-area: reroll; }

.focus { grid-area: focus; }

.focus-burst { grid-area: focus-burst; }

.focus-range { grid-area: focus-range; }

.boost { grid-area: boost; }

.buki-rec { grid-area: buki-rec; }

.gen-act { grid-area: gen-act; }

.gen-mastery { grid-area: gen-mastery; }

.gen-rec { grid-area: gen-rec; }

.endu { grid-area: endu; }

.input-containers {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "s01"
    "s02"
    "s03"
    "s04"
    "s05"
    "s06"
    "s07"
    "s08"
    "s09"
    "s10"
    "s11"
    "s12"
    "s13"
    "s14"
    "s15"
    "s16"
    "s17"
    "s18"
    "s19";
  grid-area: input-containers;
}

.s01 { grid-area: s01; }

.s02 { grid-area: s02; }

.s03 { grid-area: s03; }

.s04 { grid-area: s04; }

.s05 { grid-area: s05; }

.s06 { grid-area: s06; }

.s07 { grid-area: s07; }

.s08 { grid-area: s08; }

.s09 { grid-area: s09; }

.s10 { grid-area: s10; }

.s11 { grid-area: s11; }

.s12 { grid-area: s12; }

.s13 { grid-area: s13; }

.s14 { grid-area: s14; }

.s15 { grid-area: s15; }

.s16 { grid-area: s16; }

.s17 { grid-area: s17; }

.s18 { grid-area: s18; }

.s19 { grid-area: s19; }

.Stats {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-area: Stats;
}

.Primestat-containers {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    ". . ."
    ". . .";
  grid-area: 1 / 1 / 2 / 2;
}

.StatNames { grid-area: 1 / 1 / 2 / 2; }

.Secondary-containers {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "Atk"
    "Strike"
    "Hit"
    "Reroll"
    "Focus"
    "Focus-Burst"
    "Focus-Range"
    "Buki-boost"
    "Buki-rec"
    "Gen-act"
    "Gen-mastery"
    "Gen-rec"
    "Endu"
    ".";
  grid-area: 2 / 1 / 3 / 2;
}

.Atk { grid-area: Atk; }

.Strike { grid-area: Strike; }

.Hit { grid-area: Hit; }

.Reroll { grid-area: Reroll; }

.Focus { grid-area: Focus; }

.Focus-Burst { grid-area: Focus-Burst; }

.Focus-Range { grid-area: Focus-Range; }

.Buki-boost { grid-area: Buki-boost; }

.Buki-rec { grid-area: Buki-rec; }

.Gen-act { grid-area: Gen-act; }

.Gen-mastery { grid-area: Gen-mastery; }

.Gen-rec { grid-area: Gen-rec; }

.Endu { grid-area: Endu; }

.Dmgout-containers {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "r21 dmg"
    "crittrange crittdmg";
  grid-area: Dmgout-containers;
}

.r21 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "avrdmg"
    "D-R";
  grid-area: r21;
}

.avrdmg { grid-area: avrdmg; }

.D-R { grid-area: D-R; }

.dmg {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "Dmgran"
    "lowhigh";
  grid-area: dmg;
}

.Dmgran { grid-area: Dmgran; }

.lowhigh {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "low-dmg high-dmg";
  grid-area: lowhigh;
}

.low-dmg { grid-area: low-dmg; }

.high-dmg { grid-area: high-dmg; }

.crittrange {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "avrdmgcritt"
    "dmg-rng-critt";
  grid-area: crittrange;
}

.avrdmgcritt { grid-area: avrdmgcritt; }

.dmg-rng-critt { grid-area: dmg-rng-critt; }

.crittdmg {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "avrcrit-dmg"
    "lowcrit-higcritt";
  grid-area: crittdmg;
}

.avrcrit-dmg { grid-area: avrcrit-dmg; }

.lowcrit-higcritt {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "low-critt high-critt";
  grid-area: lowcrit-higcritt;
}

.low-critt { grid-area: low-critt; }

.high-critt { grid-area: high-critt; }
