.grid-container {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 33.33% 33.33% 33.33%;
  gap: 0px 0px;
  grid-template-areas:
    "Ninjasheet1-containers Ninjasheet1-containers Ninjasheet1-containers Ninjasheet1-containers"
    "Ninjasheet1-containers Ninjasheet1-containers Ninjasheet1-containers Ninjasheet1-containers"
    "Ninjasheet1-containers Ninjasheet1-containers Ninjasheet1-containers Ninjasheet1-containers";
}

.Ninjasheet1-containers {
  display: grid;
  grid-template-columns:  12.2% 29.266% 29.266% 29.266%;
  grid-template-rows: 20% 20% 20% 20% 20%;
  gap: 0px 0px;
  grid-template-areas:
    "ninja Ninjainfo1-containers Ninjainfo1-containers Ninjainfo1-containers "
    "ninja a1 a1 a1"
    "a2 a2 a2 a2"
    "StatRelated StatRelated StatRelated StatRelated"
    "Dmgout-containers Dmgout-containers Dmgout-containers Dmgout-containers";
  grid-area: Ninjasheet1-containers;
}


.Ninjainfo1-containers {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
  gap: 0px 0px;
  grid-template-areas:
    "a4 a3";
  grid-area: Ninjainfo1-containers;
}
.a3 {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 30% 70%;
  gap: 0px 0px;
  grid-template-areas:
    "position"
    "Penalty-containers";
  grid-area: a3;
}
.a4 {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 33.33% 33.33% 33.33%;
  gap: 0px 0px;
  grid-template-areas:
    "hei"
    "theninja"
    "LVLbox";
  grid-area: a4;
}
.theninja {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows:  50% 50%;
  gap: 0px 0px;
  grid-template-areas:
    "ID"
    "NinjaName";
  grid-area: theninja;
}

.hei { grid-area: hei; }

.ID { grid-area: ID; }

.NinjaName { grid-area: NinjaName; }

.LVLbox {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 55% 45%;
  gap: 0px 0px;
  grid-template-areas:
    "button"
    "LVL";
  grid-area: LVLbox;
}

.button { grid-area: button; }

.LVL { grid-area: LVL; }


.position { grid-area: position; }

.Penalty-containers {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 25% 25% 25% 25%;
  gap: 0px 0px;
  grid-template-areas:
    "is-off"
    "Y-N"
    "offpos"
    "pen";
  grid-area: Penalty-containers;
}

.is-off { grid-area: is-off; }

.Y-N { grid-area: Y-N; }

.offpos { grid-area: offpos; }

.pen { grid-area: pen; }




.ninjaImg { grid-area: ninjaImg; }

.er {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 50% 50%;
  gap: 0px 0px;
  grid-template-areas:
    "Cost"
    "Chakra";
  grid-area: er;
}

.Cost { grid-area: Cost; }

.Chakra { grid-area: Chakra; }

.a1 {
  display: grid;
  grid-template-columns: 20% 20% 22.5% 22.5%;
  grid-template-rows:5%;
  gap: 0px 0px;
  grid-template-areas:
    " er fq seals seals";
  grid-area: a1;
}

.fq { grid-area: fq; }

.seals {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
  gap: 0px 0px;
  grid-template-areas:
    "SealTag seal";
  grid-area: seals;
}

.SealTag { grid-area: SealTag; }

.seal { grid-area: seal; }

.a2 {
  display: grid;
  grid-template-columns: 10% 45% 45%;
  grid-template-rows: 50% 50%;
  gap: 0px 0px;
  grid-template-areas:
    "bonusstat Item-container BL-container"
    "bonusstat Item-container BL-container";
  grid-area: a2;
}

.Item-container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 33.33% 33.33% 33.33%;
  gap: 0px 0px;
  grid-area: Item-container;
}

.item1 { grid-area: 1 / 1 / 2 / 2; }

.item2 { grid-area: 2 / 1 / 3 / 2; }

.item3 { grid-area: 3 / 1 / 4 / 2; }

.itemTg1 { grid-area: 1 / 2 / 2 / 3; }

.itemTg2 { grid-area: 2 / 2 / 3 / 3; }

.itemTg3 { grid-area: 3 / 2 / 4 / 3; }

.ItemEq { grid-area: 1 / 1 / 4 / 2; }

.ItemTg { grid-area: 1 / 2 / 4 / 3; }

.BL-container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  gap: 0px 0px;
  grid-template-areas:
    "bloodline blood-line"
    "bloodlinelvl blood-line-LvL";
  grid-area: BL-container;
}

.bloodline { grid-area: bloodline; }

.blood-line { grid-area: blood-line; }

.bloodlinelvl { grid-area: bloodlinelvl; }

.blood-line-LvL { grid-area: blood-line-LvL; }

.bonusstat {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 50% 50%;
  gap: 0px 0px;
  grid-template-areas:
    "qq"
    "used";
  grid-area: bonusstat;
}

.qq { grid-area: qq; }

.used { grid-area: used; }

.StatRelated {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 50% 50%;
  gap: 0px 0px;
  grid-template-areas:
    "input-container The-Stats The-Stats Efficantcy"
    "input-containers txt Stats Effi-container";
  grid-area: StatRelated;
}

.The-Stats { grid-area: The-Stats; }

.Efficantcy { grid-area: Efficantcy; }

.input-container { grid-area: input-container; }

.txt {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 5.263% 5.263% 5.263% 5.263% 5.263% 5.263% 5.263% 5.263% 5.263% 5.263% 5.263% 5.263% 5.263% 5.263% 5.263% 5.263% 5.263% 5.263% 5.263%;
  gap: 0px 0px;
grid-template-areas:
"Taijutsu"
"Ninjutsu"
"Bukijutsu"
"Stamina"
"Elemental"
"Genjutsu"
"Attack"
"Crittical-strike"
"Crittical-hit"
"Re-roll"
"Focus-pew"
"Focus-burst-pew"
"Focus-range-pew"
"Bukijutsu-Recovery"
"Bukijutsu-Boost"
"Genjutsu-Activation"
"Genjutsu-Mastery"
"Genjutsu-Recovery"
"Endurance";
grid-area: txt;
}


.Taijutsu { grid-area: Taijutsu; }

.Ninjutsu { grid-area:Ninjutsu; }

.Bukijutsu { grid-area: Bukijutsu; }

.Stamina { grid-area:Stamina ; }

.Elemental { grid-area:Elemental; }

.Genjutsu { grid-area:genjutsu; }
.Attack { grid-area:Attack; }

.Crittical-strike { grid-area:Crittical-strike; }

.Crittical-hit { grid-area:Crittical-hit; }

.Re-roll { grid-area:Re-roll; }

.Focus-pew { grid-area:Focus-pew; }

.focus-burst-pew { grid-area:Focus-Burst-pew; }

.Focus-range-pew { grid-area: focus-range; }

.Bukijutsu-Recovery { grid-area:Bukijutsu-Recovery ; }

.Bukijutsu-Boost { grid-area:Bukijutsu-Boost ; }


.Genjutsu-Activation { grid-area:Genjutsu-Activation ; }

.Genjutsu-Mastery { grid-area: Genjutsu-Mastery; }

.Genjutsu-Recovery { grid-area:Genjutsu-Recoveryc; }

.Endurance { grid-area:Endurance; }

.Stats {
  display: grid;
  grid-template-columns:100%;
  grid-template-rows: 34% 66%;
  gap: 0px 0px;
  grid-template-areas:
    "Primestat-containers"
    "Secondary-containers";
  grid-area: Stats;
}

.Primestat-containers {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 80%;
  gap: 0px 0px;
  grid-template-areas:
    "StatNames";
  grid-area: Primestat-containers;
}

 .StatNames { grid-area: StatNames; 
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 6.236% 6.236% 6.236% 6.236% 6.236% 6.236%;
  gap: 0px 0px;
  grid-template-areas:
  "StatNames"
  "StatNames"
  "StatNames"
  "StatNames"
  "StatNames"
  "StatNames";
grid-area: StatNames;
} 

.Secondary-containers {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 8.1%  8.1%  8.1%  8.1%  8.1%  8.1%  8.1%  8.1%  8.1%  8.1%  8.1%  8.1%  8.1%;
  gap: 0px 0px;
  grid-template-areas:
  "Atk"
  "Strike"
  "Hit"
  "Re-Roll"
  "Focus"
  "Focus-Burst"
  "Focus-Range"
  "Buki-Boost"
  "Buki-Rec"
  "Gen-Act"
  "Gen-Mastery"
  "Gen-Rec"
  "Endu";
  grid-area: Secondary-containers;
}

.Atk { grid-area: Atk; }

.Strike { grid-area: Strike; }

.Hit { grid-area: Hit; }

.Re-Roll { grid-area: Re-Roll; }

.Focus { grid-area: Focus; }

.Focus-Burst { grid-area: Focus-Burst; }

.Focus-Range { grid-area: Focus-Range; }

.Buki-Boost { grid-area: Buki-Boost; }

.Buki-Rec { grid-area: Buki-Rec; }

.Gen-Act { grid-area: Gen-Act; }

.Gen-Mastery { grid-area: Gen-Mastery; }

.Gen-Rec { grid-area: Gen-Rec; }

.Endu { grid-area: Endu; }

.Effi-container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 5.263% 5.263% 5.263% 5.263% 5.263% 5.263% 5.263% 5.263% 5.263% 5.263% 5.263% 5.263% 5.263% 5.263% 5.263% 5.263% 5.263% 5.263% 5.263%;
  gap: 0px 0px;
  grid-template-areas:
    "tai-effi"
    "nin-effi"
    "buki-effi"
    "stam-effi"
    "ele-effi"
    "gen-effi"
    "atk-effi"
    "strike-effi"
    "hit-effi"
    "reroll-effi"
    "focus-effi"
    "focusburst-effi"
    "focusrange-effi"
    "boost-effi"
    "buki-rec-effi"
    "gen-act-effi"
    "gen-mastery-effi"
    "gen-rec-effi"
    "endu-effi";
  grid-area: Effi-container;
}

.tai-effi { grid-area: tai-effi; }

.nin-effi { grid-area: nin-effi; }

.buki-effi { grid-area: buki-effi; }

.stam-effi { grid-area: stam-effi; }

.ele-effi { grid-area: ele-effi; }

.gen-effi { grid-area: gen-effi; }

.atk-effi { grid-area: atk-effi; }

.strike-effi { grid-area: strike-effi; }

.hit-effi { grid-area: hit-effi; }

.reroll-effi { grid-area: reroll-effi; }

.focus-effi { grid-area: focus-effi; }

.focusburst-effi { grid-area: focusburst-effi; }

.focusrange-effi { grid-area: focusrange-effi; }

.boost-effi { grid-area: boost-effi; }

.buki-rec-effi { grid-area: buki-rec-effi; }

.gen-act-effi { grid-area: gen-act-effi; }

.gen-mastery-effi { grid-area: gen-mastery-effi; }

.gen-rec-effi { grid-area: gen-rec-effi; }

.endu-effi { grid-area: endu-effi; }

.input-containers {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 5.263% 5.263% 5.263% 5.263% 5.263% 5.263% 5.263% 5.263% 5.263% 5.263% 5.263% 5.263% 5.263% 5.263% 5.263% 5.263% 5.263% 5.263% 5.263% 5.263% ;
  gap: 0px 0px;
  grid-template-areas:
    "s01"
    "s02"
    "s03"
    "s04"
    "s05"
    "s06"
    "s07"
    "s08"
    "s09"
    "s10"
    "s11"
    "s12"
    "s13"
    "s14"
    "s15"
    "s16"
    "s17"
    "s18"
    "s19"
    "s20";
  grid-area: input-containers;
}

.s01 { grid-area: s01; }

.s02 { grid-area: s02; }

.s03 { grid-area: s03; }

.s04 { grid-area: s04; }

.s05 { grid-area: s05; }

.s06 { grid-area: s06; }

.s07 { grid-area: s07; }

.s08 { grid-area: s08; }

.s09 { grid-area: s09; }

.s10 { grid-area: s10; }

.s11 { grid-area: s11; }

.s12 { grid-area: s12; }

.s13 { grid-area: s13; }

.s14 { grid-area: s14; }

.s15 { grid-area: s15; }

.s16 { grid-area: s16; }

.s17 { grid-area: s17; }

.s18 { grid-area: s18; }

.s19 { grid-area: s19; }

.s20 { grid-area: s20; }

.Dmgout-containers {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  gap: 0px 0px;
  grid-template-areas:
    "r21 DMG"
    "Crit-DMG-Tag Critt-DMG-Out";
  grid-area: Dmgout-containers;
}
.r21 {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 50% 50%;
  gap: 0px 0px;
  grid-template-areas:
    "AvrageDMG"
    "D-R";
  grid-area: r21;
}
.AvrageDMG { grid-area: AvrageDMG; }
.D-R { grid-area: D-R; }
.DMG {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 50% 49%;
  gap: 0px 0px;
  grid-template-areas:
    "AvrageDMG-out"
    "Low-High-DMG";
  grid-area: DMG;
}
.AvrageDMG-out { grid-area: AvrageDMG-out; }
.Low-High-DMG {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
  gap: 0px 0px;
  grid-template-areas:
    "Low-DMG High-DMG";
  grid-area: Low-High-DMG;
}
.Low-DMG { grid-area: Low-DMG; }
.High-DMG { grid-area: High-DMG; }
.Crit-DMG-Tag {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 50% 50%;
  gap: 0px 0px;
  grid-template-areas:
    "Average-DMG-on-Crit"
    "Damage-Range-with-Critical-Hit";
  grid-area: Crit-DMG-Tag;
}
.Average-DMG-on-Crit { grid-area: Average-DMG-on-Crit; }
.Damage-Range-with-Critical-Hit { grid-area: Damage-Range-with-Critical-Hit; }
.Critt-DMG-Out {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 49% 50%;
  gap: 0px 0px;
  grid-template-areas:
    "Average-DMG-on-Crit-Out"
    "lowcrit-higcritt";
  grid-area: Critt-DMG-Out;
}
.Average-DMG-on-Crit-Out { grid-area: Average-DMG-on-Crit-Out; }
.lowcrit-higcritt {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
  gap: 0px 0px;
  grid-template-areas:
    "Low-critt-DMG High-critt-DMG";
  grid-area: lowcrit-higcritt;
}
.Low-critt-DMG { grid-area: Low-critt-DMG; }
.High-critt-DMG { grid-area: High-critt-DMG; }
