/* everything in the ninjainfo class. what we use to move them around  */
.Ninjainfo1-containers{
    display: grid;
    position: absolute;
    top:2vh;
    width:98%;
    height:40vh;
    left:1vw;
  }
  /*end off draw out div*/ 
.ninjaImg{ /*the img*/
    display:grid;
    position: absolute;
  border:2px solid black;
  height:100%;
  width:100%;
     }
     img { /*img scaling*/
      width: 100%;
      height: 100%;
    }/*end off img */

    .theninja{ /*ninja ID and ninjaName Tags container */
        display: grid;
        position: absolute;
        top:7vh;
        right:5.9vw;
        width:49.9vw;
        height:7.5vh;
        
      }
      /*ninja ID and ninjaName Tags container end  */

/*posstion tag */

.position{
    display: grid;
  position: absolute;
  background-color: brown;
  justify-content: center;
 top:2vh;
 left:-6vw;
  width:39.4vw;
  height: 7.5vh;
  }
  /*posstion tag end */

  
  .er{ /*cost and chakra container */
    background-color: blueviolet;
    display: grid;
    position: absolute;
    top:0vh;
    width:9vw;
    height:7.4vh;
  
  }/*end of cost and chakra container  */
  

  


  .Penalty-containers { /*penalty container */
    display: grid;
    position: absolute;
    bottom:44.6vh;
    left:-6.1vw;
    height:9.6vh;
    font-size:3vh;
    width:39.4vw;
  } /*end off the penalty container*/

