/* everything in the ninjainfo class. what we use to move them around  */
.Ninjainfo1-containers{
    position: absolute;
   width:100%;
   height:100%;
   
   
  }
  /*end off draw out div*/ 

   .a4{
    position: absolute;
    width:45.99%;
    height:20%;
    left:10vw;
  }
  .theninja{ /*ninja ID and ninjaName Tags container */
       
     position: absolute;
     font-size: 1.6vw;
     width:100%;
     height:100%;
     
      
     }
     
     .hei{
       background-color: aqua;
      display: grid;
      position: absolute;
      height:100%;
      width:100%;
     top:0vh;
     
      
    }
     /*ninja ID and ninjaName Tags container end  */
     .ID { /*ninja ID*/
       left:0.1vw;
     background-color:hotpink;
     position: absolute;
     height: 100%;
       width:100%;
     font-size: inherit;
     border-bottom: 1px solid black;
    
     
     }
     
     /*ninja ID end */
     /*ninja Name   */
     .NinjaName{
      left:0.1vw;
       border-top:2px solid black;
       background-color:hotpink;
       height: 100%;
       width:100%;
        position: absolute;
        
     
   
      } /*Ninja name end */


      .LVLbox{
        left:0.1vw;
        position: absolute;
        width:100%;
        height:100%;
        top:0.1vh;
      }
      
      .button{/* the lvl button*/ 
       position: absolute;
     background-color: blue;
     width:100%;
     height:100%;
     border: 2px solid black;
     font-size: 1.4vw;
     

   
   }
   .LVL{ 
    width:100%;
    height:100%;
     position: absolute;
     text-align: center;
     font-size:3vh;
   background-color: blue;
   ;
   border: 2px solid black;
   }
   #LVL {/* the lvl input*/ 
       position: absolute;
     background-color: blue;
     border: 2px solid black;
     
   }


  
  /* a3 container upper right */
  .a3{
   position: absolute;
   width:100%;
   height:100%;
  }


       /*posstion tag */

.position{
   
  position: absolute;
  padding:auto;
  background-color: brown;
  justify-content: center;
  font-size:3vh;
  width:100%;
   height:100%;
   left:0vw;
  
 
  }
  /*posstion tag end */

  



  .Penalty-containers { /*penalty container */
   position: absolute;
   font-size:1.3vw;
    font-weight: bolder;
    width:100%;
   height:100%;
      left:0vw; 
   
  } /*end off the penalty container*/
  .is-off{ /* position penalty */
    display: grid;
    position: absolute;
    width:100%;
    height:100%;
    background-color: aquamarine;
    justify-content: center;
    border:1px solid black;
    
     }
     .Y-N{/* position penalty */
    display: grid;
    position: absolute;
    width:100%;
    height:100%;
    background-color: aquamarine;
    justify-content: center;
    border:1px solid black;
    
     }
     .offpos{/* position penalty */
    display:grid;
    position: absolute;
    width:100%;
    height:100%;
    background-color: aquamarine;
    justify-content: center;
    border:1px solid black;
    
     }
     .Pen{/* position penalty */
       display: grid;
        position: absolute;
      background-color: aquamarine;
       justify-content: center;
       border:1px solid black;
       width:100%;
   height:100%;
     }
    /* position penalty end  */

 

