/* everything in the ninjainfo class. what we use to move them around  */
.Ninjainfo1-containers{
    display: grid;
    position: absolute;
    justify-content:center;
  width:100%;
    height:98%;
    
  }
  /*end off draw out div*/ 
.ninjaImg{ /*the img*/
    display:grid;
    position: absolute;
  border:2px solid black;
  width:inherit;
  height:inherit;
     }
     img { /*img scaling*/
      width: 100%;
      height: 100%;
    }/*end off img */

    .theninja{ /*ninja ID and ninjaName Tags container */
        display: grid;
        position: absolute;
        top:0vh;
        font-size:3vh;
        width:inherit;
        height:inherit;
       
        
      }
      /*ninja ID and ninjaName Tags container end  */
      .ID { /*ninja ID*/
  
        background-color:hotpink;
        display: grid;
        position: absolute;
        width:inherit;
      height:inherit;
      font-size: inherit;
      border-bottom: 1px solid black;
        
      }
      
      /*ninja ID end */
      /*ninja Name   */
      .NinjaName{
        background-color:hotpink;
        display: grid;
         position: absolute;
         width:inherit;
         height:inherit;
    
       } /*Ninja name end */
/*posstion tag */

.position{
    display: grid;
  position: absolute;
  padding:auto;
  background-color: brown;
  justify-content: center;
  font-size:3vh;
  width:inherit;
  height:inherit;
  }
  /*posstion tag end */

  
  .er{ /*cost and chakra container */
    background-color: blueviolet;
    display: grid;
    position: absolute;
    top:0vh;
    width:inherit;
    height:inherit;
    font-size:3vh;
  
  }/*end of cost and chakra container  */
  

  


  .Penalty-containers { /*penalty container */
    display: grid;
    position: absolute;
    font-size:3vh;
    width:100%;
  height:100%;
  } /*end off the penalty container*/

  .LVLbox { 
    /* lvl box*/
    display: grid;
    position: absolute;
    font-size:3vh;
    height:100%;
    width:100%;
    
    
  }
  .button{/* the lvl button*/
    display: grid; 
      position: absolute;
    background-color: blue;
    height:inherit;
    width:inherit;
    border: 2px solid black;
    font-size:3vh;
  
  }
  .LVL{
    display: grid; 
    position: absolute;
  background-color: blue;
  height:inherit;
  font-size:auto;
  border: 2px solid black;
  }
  #LVL {/* the lvl input*/
    display: grid; 
      position: absolute;
    background-color: blue;
    border: 2px solid black;
    height:inherit;
    width:inherit;
  }

  /* blood line contaier */
