




 .Item-container {
   display: grid;
   background-color: darkgreen;
   position: relative;
   right:138.2vw;
   bottom:43.2644vh;
   width:49.9vw;
   height:22.5vh;
 }
.item1{
  display: grid;
  position: static;

}
.ItemTg2{
  display: grid;
  position: static;

}
.Item2{
  display: grid;
  position: static;
;
}
.ItemTg3{
  display: grid;
  position: static;

}
.Item3{
  display: grid;
  position: static;
  
}
.ItemTg{
  display: grid;
  position: static;

}
.ItemEq{
display: grid;
  position: static;

}
 


