html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
 }
body {display:grid;
 }
 .Ninjasheet1-containers{
   display: grid;
   position: absolute;
 }
/* page related stuff */
/* Chrome, Safari, Edge, Opera removes arrows*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox removes arrows */
input[type=number] {
  -moz-appearance: textfield;
}
/*div that draws out stuff*/
#selectResult {
  display:flex;
  flex-wrap: wrap;
  flex-direction:column; 
  }
  .Ninjainfo1-containers{
    display: grid;
    position: static;
    width:25%;
    height:25%;
  }
  /*end off draw out div*/ 
  .hei {/*Dropdown bar */
    display: grid;
    position:relative;
    background-color: aqua;
    left:9.5vw;
    top:5vh;
    width:49.9vw;
    height:7.5vh;
  } 


/* end off dropdownbar */

.ninjaImg{
  display:grid;
  position: relative;
  top:-33.33vh;
  height:9vh;
  width:9vw;
  
}

.LVLbox { 
  /* lvl box*/
  display: grid;
  position: relative;
  bottom:71.7vh;
  height:9vh;
  width:49.9vw;
  left:0vw;
  
}
.button{/* the lvl button*/
  display: grid; 
  position:static;
  background-color: blue;
 
  
  border: 2px solid black;
  

}
#LVL {/* the lvl input*/
  display: grid; 
  position:static;
  background-color: blue;
  width:inherit;
  border: 2px solid black;
}

  