html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
    overflow: hidden;  
 }


/* page related stuff */
/* Chrome, Safari, Edge, Opera removes arrows*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox removes arrows */
input[type=number] {
  -moz-appearance: textfield;
}

/* evry thing in sheet 1. not under classes */
.Ninjasheet1-containers{
  display:inline-grid;
  
  position: absolute;
  width:100vw;
  height:100vh;
  
}
/*div that draws out stuff*/
#selectResult {
  display: grid;
  position: absolute;
  width:97%;
  height:97%;
  justify-self: stretch;
  }
  #hovedSide {
    display: grid;
  position: absolute;
  width:14%;
  height:4vh;
  left:35vw;
  }

 

