
.ID { /*ninja ID*/
  
  background-color:hotpink;
  display: grid;
  position: static;
  height:5vh;
 
  
border-bottom: 1px solid black;
  
}
/*ninja ID end */

.Cost{
display: grid;
position: static;
justify-content: center;
font-weight: bold;
font-size:2vh;
}
.chakra{
 display: grid; 
 position: static;
 font-weight: bold;
 justify-content: center;
 font-size:2vh;
}
/*ninja Name   */
.NinjaName{
  background-color:hotpink;
  display: grid;
  position: static;
  height:5vh;
 
  

}
/*ninja ID end */

 .is-off{ /* position penalty */
display: grid;
position: static;
background-color: aquamarine;
justify-content: center;
border:1px solid black;
 }
 .Y-N{/* position penalty */
display: grid;
position: static;
background-color: aquamarine;
justify-content: center;
border:1px solid black;
 }
 .offpos{/* position penalty */
display:grid;
position: static;
background-color: aquamarine;
justify-content: center;
border:1px solid black;
 }
 .Pen{/* position penalty */
   display: grid;
   position: static;
   background-color: aquamarine;
   justify-content: center;
   border:1px solid black;

 }
/* position penalty end  */


    /* seal  container   */
    .Seals{
 
      display: grid;
      grid-template-columns: 1fr 1fr;
      position: relative;
     bottom:10.955vh;
      right:88.3vw;
    height:4.5vh;
    width:49.8vw;
    justify-content: center;
    font-size:3vh;
    border: 1px solid black;
    }/*end off seal tag */
.SealTag{/* seal tag box */
  background-color: crimson;
  display: grid;
  position:static
  
 
}
.Seal{
  display: grid;
  background-color: crimson;
  position:static

}
/*end off seal container */


/* blood line contaier */

.BL-containers{
  display: grid;
  position: relative;
  right:87.39vw;
  bottom:38.72vh;
  height:18.2vh;
  width:39.4vw;
  
 
}
.bloodline{
    display: grid;
    position: static;
    font-size:2vh;
   border-top: 2px solid black;
   border-bottom: 2px solid black;
    background-color: crimson;
    width:19.6vw;
  }
  .bloodlinelvl{
    display: grid;
    position: static;
    font-size:2vh;
    border-bottom: 2px solid black;
    background-color: crimson;
    width:19.6vw;
  }
  .Blood-line{
    display: grid;
    position: static;
    font-size:2vh;
   border: 1px solid black;
     background-color: crimson;
     width:19.7vw;
    }
  .Blood-Line-LvL{
    display: grid;
    position: static;
    font-size:2vh;
    border:1px solid black;
    top:-0.1vh;
     background-color: crimson;
     width:19.82vw;
    }

/* end off BL related */
.fq {
  display: grid;
  position:relative;
  bottom:48.1vh;
  right:147.2vw;
  width:9vw;
  height:9.7vh;
  border-bottom:1px solid black;
}
.Fixed1{
  display: grid;
  position:static;
  
  justify-content: center;
  

}
.quarter1{
  display: grid;
  position:static;
  background-color: brown;
  
  justify-content: center;
  
}
.NY{
  display: grid;
  position:static;
  background-color: brown;
  
  justify-content: center;
  
}
.Fixed2{
  display: grid;
  position:static;
  background-color: brown;
 
  justify-content: center;
  
}
.quarter2{
  display: grid;
  position:static;
  background-color: brown;
  
  justify-content: center;
 
}
.YN{
  display: grid;
  position:static;
  background-color: brown;
  
  justify-content: center;
 
}