.theninja{ /*ninja ID and ninjaName Tags container */
  display: grid;
  position: relative;
  left:vw;
  bottom:25.83vh;
  width:49.7vw;
  height:10vh;
  border: 2px solid black;
}
/*ninja ID and ninjaName Tags container end  */
.ID { /*ninja ID*/
  
  background-color:hotpink;
  display: grid;
  position: static;
  height:5vh;
 
  
border-bottom: 1px solid black;
  
}
/*ninja ID end */
.er{
  background-color: blueviolet;
  display: grid;
  position: relative;
bottom:26.955vh;
width:9.4vw;
height:10vh;
}
.Cost{
display: grid;
position: static;
justify-content: center;
font-weight: bold;
font-size:2vh;
}
.chakra{
 display: grid; 
 position: static;
 font-weight: bold;
 justify-content: center;
 font-size:2vh;
}
/*ninja Name   */
.NinjaName{
  background-color:hotpink;
  display: grid;
  position: static;
  height:5vh;
 
  

}
/*ninja ID end */
.Penalty-containers {
  display: grid;
  position: relative;
  height:10.5vh;
  bottom:36vh;
}
 .is-off{
display: grid;
position: static;
background-color: aquamarine;

 }
 .Y-N{
display: grid;
position: static;
background-color: aquamarine;


 }
 .offpos{
display:grid;
position: static;
background-color: aquamarine;


 }
 .Pen{
   display: grid;
   position: static;
   background-color: aquamarine;
   bottom:39.9vw;


 }


/*posstion tag */

.position{
  display: grid;
position: relative;
background-color: brown;
justify-content: center;
right:0vw;
bottom:33.4vh;
width:39.4vw;
height: 12vh;
}
/*posstion tag end */
/* seal tag box needs to be helped  */
.Seals{
 
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
 bottom:15.34vh;
  right:89.31vw;
height:4.5vh;
width:49.85vw;
justify-content: center;
font-size:3vh;
border: 1px solid black;
}
.SealTag{
  background-color: crimson;
  display: grid;
  position:static
  
 
}
.Seal{
  display: grid;
  background-color: crimson;
  position:static

}

/* seal tag box */

/* blood line contaier */

.BL-containers{
  display: grid;
  position: relative;
  right:89.39vw;
  bottom:35.8vh;
  height:20vh;
 width:40;
  
 
}
.bloodline{
    display: grid;
    position: static;
    font-size:2vh;
   border-top: 2px solid black;
    background-color: crimson;
    width:19.6vw;
  }
  .bloodlinelvl{
    display: grid;
    position: static;
    font-size:2vh;
    border-bottom: 2px solid black;
    background-color: crimson;
    width:19.6vw;
  }
  .Blood-line{
    display: grid;
    position: static;
    font-size:2vh;
   border: 1px solid black;
     background-color: crimson;
     width:19.7vw;
    }
  .Blood-Line-LvL{
    display: grid;
    position: static;
    font-size:2vh;
    border:1px solid black;
    top:-0.1vh;
     background-color: crimson;
     width:19.82vw;
    }

/* end off BL related */
.fq {
  display: grid;
  position:relative;
  bottom:30vh;
  right:150vw;
  width:10.6vw;
  border:1px solid black;
  height:14vh;
}
.Fixed1{
  display: grid;
  position:static;
  
  justify-content: center;
  

}
.quarter1{
  display: grid;
  position:static;
  background-color: brown;
  
  justify-content: center;
  
}
.NY{
  display: grid;
  position:static;
  background-color: brown;
  
  justify-content: center;
  
}
.Fixed2{
  display: grid;
  position:static;
  background-color: brown;
 
  justify-content: center;
  
}
.quarter2{
  display: grid;
  position:static;
  background-color: brown;
  
  justify-content: center;
 
}
.YN{
  display: grid;
  position:static;
  background-color: brown;
  
  justify-content: center;
 
}