.Seals{
 
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
  bottom:11vh;
  right:88vw;
height:3.75vh;
width:49.9vw;
justify-content: center;
font-size:3vh;

}
.SealTag{
  background-color: crimson;
  display: grid;
  position:static
  
 
}
.Seal{
  display: grid;
  background-color: crimson;
  position:static

}
