

.Cost{
display: grid;
  position: absolute;
justify-content: center;
font-weight: bold;
font-size:2vh;
}
.chakra{
 display: grid; 
  position: absolute;
 font-weight: bold;
 justify-content: center;
 font-size:2vh;
}


 .is-off{ /* position penalty */
display: grid;
  position: absolute;
background-color: aquamarine;
justify-content: center;
border:1px solid black;
width:39.4vw;
 }
 .Y-N{/* position penalty */
display: grid;
position: absolute;
top:1vh;
background-color: aquamarine;
justify-content: center;
border:1px solid black;
width:39.4vw;
 }
 .offpos{/* position penalty */
display:grid;
position: absolute;
top:2vh;
background-color: aquamarine;
justify-content: center;
border:1px solid black;
width:39.4vw;
 }
 .Pen{/* position penalty */
   display: grid;
    position: absolute;
    top:3vh;
   background-color: aquamarine;
   justify-content: center;
   border:1px solid black;
   width:39.4vw;

 }
/* position penalty end  */


    /* seal  container   */
    .Seals{
      grid-template-columns: 1fr 1fr;
      display: grid;
      position: absolute;
      top:16.9vh;
      left:9.5vw;
    height:6vh;
    width:49.7vw;
    justify-content: center;
    font-size:3vh;
    border: 1px solid black;
    }/*end off seal tag */
.SealTag{/* seal tag box */
  background-color: crimson;
  display: grid;
  position: absolute;
  width:24.85vw;
  height: inherit;
  justify-content: center;
  border-left: 1px solid black;
}
.Seal{
  display: grid;
  background-color: crimson;
  position: absolute;
  left:24.86vw;
  width:24.85vw; 
  justify-content: center;
  height: inherit;
}
/*end off seal container */


