


/* chakra realated */
.Cost {
    background-color: burlywood;
    display: grid;
    position: relative;
   }
  .chakra
  { display: grid;
    position: relative;
  background-color: aqua;
  justify-content: center;
  }
  

  /*End off chakra related*/
  
  
  
  
   .ID{ /*ID off ninja gives the entire name */
    position: relative;
    display: grid;
  bottom:41vh;
  left:9.4vw;
  justify-content: center;
  background-color: blueviolet;
  }
  /*end of ID*/
  
  .Seal /*the seal lvl*/ {
    display: flex;
    position: relative;
  }
  /*Ninja name*/
  .NinjaName { 
    display: flex;
    position: relative;
    bottom:41vh;
  left:9.4vw;
  justify-content: center;
  background-color: blueviolet;
  }
  /*end off ninja spefic*/
  
  /* LVL related*/
  /* input put lvl*/
  
  #LVL{
    display: grid;
    position:relative;
    border-radius:12px;
    background-color: blueviolet;
    left:10vw;
    bottom:20vh;
  }
  .button /* the lvl confim button*/ {
    display: grid;
    border:1px solid blue;
    border-style:dotted solid double dashed;
      position:relative;
      background-color:white;
    color: #000000;
    left:11vw;
    bottom:20vh;
    }
  
    #result { /*the thing that gets all the stat growth + stat value for lvling*/
      color: white;
      display: grid;
        position:relative;
        background-color: purple;
        left:40vw;
        height:20vh;
        width:10vw;
        }
  .lvl{
    /*the Lvl tag*/
    display: flex;
    position: relative;
  }
  /*end off lvl tag */
  


































