
 .qq {display: grid;
  position: absolute;
background-color: darkslateblue;
justify-content: center;
top:50vh;
right:88.4vw;
width:9.5vw;
height:5vh;
border:1px solid black;
}
 .used{display: grid;
    position: absolute;
  background-color: darkslateblue;
  justify-content: center;
  top:55vh;
  right:88.4vw;
width:9.5vw;
  height:5vh;
  border:1px solid black;
}
/*all stat container*/

/*all primary stats*/
.Primestat-containers{
    display: grid;
      position: absolute;
}
.The-Stats{
  
    border:1px solid black;
    display: grid;
      position: absolute;
    justify-content: center;
    background-color: blue;
    top:70vh;
     height:07.13vh;
     width:49.9vw;
     border-bottom: 2px solid black;
     
    }
    .statnames{
        justify-content: center;
         position: absolute;
        display:grid;
        grid-template-columns:2vw;
        grid-column:auto;
          border-bottom:1px solid black;
        background-color: rgb(77, 15, 15);
       justify-items: center;
        }

 
.txt{
  display: grid;
  justify-content: center;
  right:130vw;
  bottom:16.19vh;
  /* width:;
  height:; */
 
}


/* The inputt stats */
.input-container{
    background-color: teal;
     position: absolute;
       border:solid 1px black; 
     justify-content: center;
     
     width:8.8vw;
     height:07vh;
    
     }
     #inn{
        display: grid;
          position: absolute;
        }
.input-containers {
    display: grid;
    position: absolute;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
   }
   .input-containers{
    display: grid;
    position: absolute;
   
     width:09.5vw;
   }
.s01{  
    border-bottom: 1px solid black; 
      position: absolute;
   background-color:teal;
    display:grid;
  }
.s02{border-bottom: 1px solid black; 
      position: absolute;
  background-color:teal;
    display:grid;
   
   }
.s03{
    border-bottom: 1px solid black;
       position: absolute;
  background-color:teal;
     display:grid;
   }
.s04{    border-bottom: 1px solid black;
      position: absolute;
   background-color:teal;
    display:grid;
   }
.s05{    border-bottom: 1px solid black;
      position: absolute;
  background-color:teal;
    display:grid;
    
 }
.s06{border-bottom: 1px solid black;
      position: absolute;
  background-color:teal;
    display:grid;
    
}
.s07{border-bottom: 1px solid black;
      position: absolute;
  background-color:teal;
    display:grid;
   }
.s08{border-bottom: 1px solid black;
      position: absolute;
    background-color:teal;
    display:grid;
  }
.s09{border-bottom: 1px solid black;
      position: absolute;
    background-color:teal;
    display:grid;
  }
.s10{border-bottom: 1px solid black;
      position: absolute;
    display:grid;
    background-color:teal;
 
  }
.s11{border-bottom: 1px solid black;
      position: absolute;
    background-color:teal;
    display:grid;
}
.s12{border-bottom: 1px solid black;
      position: absolute;
    display:grid;
    background-color:teal;
}   
.s13{border-bottom: 1px solid black;
      position: absolute;
    display:grid;
    background-color:teal;
    ;}
.s14{border-bottom: 1px solid black;
      position: absolute;
    background-color:teal;
    display:grid;
   }
 
.s15{border-bottom: 1px solid black;
      position: absolute;
    background-color:teal;
    display:grid;
} 
.s16{ border-bottom: 1px solid black;
      position: absolute;
    background-color:teal;
    display:grid;
}
.s17{border-bottom: 1px solid black;
      position: absolute;
    background-color:teal;
    display:grid;
   }
.s18{border-bottom: 1px solid black;
      position: absolute;
    background-color:teal;
    display:grid;
    }
.s19{border-bottom: 1px solid black;
      position: absolute;
    display:grid;
   }
.s20{border-bottom: 1px solid black;
      position: absolute;
    display:grid;
   } 




