
 .qq {display: grid;
position: relative;
background-color: darkslateblue;
justify-content: center;
right:147vw;
top:4.88vh;
width:09.4vw;
height:3.5vh;
border:1px solid black;
}
 .used{display: grid;
  position: relative;
  background-color: darkslateblue;
  justify-content: center;
  right:148.8vw;
  top:4.88vh;
  width:09.4vw;
  height:3.5vh;
  border:1px solid black;
}
/*all stat container*/

/*all primary stats*/
.Primestat-containers{
    display: grid;
    position: relative;
}
.The-Stats{
  
    border:1px solid black;
    display: grid;
    position: relative;
    justify-content: center;
    background-color: blue;
     right:138.3vw;
     top:11.9vh;
     height:07.13vh;
     width:49.9vw;
     border-bottom: 2px solid black;
     
    }
    .statnames{
        justify-content: center;
        position:relative;
        display:grid;
        grid-template-columns:2vw;
        grid-column:auto;
          border-bottom:1px solid black;
        background-color: rgb(77, 15, 15);
       justify-items: center;
        }

        .txt {
        background-color:turquoise;
        
        justify-content: center;
        position:relative;
        display:grid;}




/* The inputt stats */
.input-container{
    background-color: teal;
    position:relative;
       border:solid 1px black; 
     justify-content: center;
     right:189.4vw;
     bottom:2.8vh;
     width:09.3vw;
     height:07vh;
    
     }
     #inn{
        display: grid;
        position: relative;
        }
.input-containers {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
   }
   .input-containers{
    display: grid;
   
    right:97vw;
     top:3vh;
     width:09.5vw;
   }
.s01{  
    border-bottom: 1px solid black; 
    position:static;
   background-color:teal;
    display:grid;
  }
.s02{border-bottom: 1px solid black; 
    position:static;
  background-color:teal;
    display:grid;
   
   }
.s03{
    border-bottom: 1px solid black;
     position:static;
  background-color:teal;
     display:grid;
   }
.s04{    border-bottom: 1px solid black;
    position:static;
   background-color:teal;
    display:grid;
   }
.s05{    border-bottom: 1px solid black;
    position:static;
  background-color:teal;
    display:grid;
    
 }
.s06{border-bottom: 1px solid black;
    position:static;
  background-color:teal;
    display:grid;
    
}
.s07{border-bottom: 1px solid black;
    position:static;
  background-color:teal;
    display:grid;
   }
.s08{border-bottom: 1px solid black;
    position:static;
    background-color:teal;
    display:grid;
  }
.s09{border-bottom: 1px solid black;
    position:static;
    background-color:teal;
    display:grid;
  }
.s10{border-bottom: 1px solid black;
    position:static;
    display:grid;
    background-color:teal;
 
  }
.s11{border-bottom: 1px solid black;
    position:static;
    background-color:teal;
    display:grid;
}
.s12{border-bottom: 1px solid black;
    position:static;
    display:grid;
    background-color:teal;
}   
.s13{border-bottom: 1px solid black;
    position:static;
    display:grid;
    background-color:teal;
    ;}
.s14{border-bottom: 1px solid black;
    position:static;
    background-color:teal;
    display:grid;
   }
 
.s15{border-bottom: 1px solid black;
    position:static;
    background-color:teal;
    display:grid;
} 
.s16{ border-bottom: 1px solid black;
    position:static;
    background-color:teal;
    display:grid;
}
.s17{border-bottom: 1px solid black;
    position:static;
    background-color:teal;
    display:grid;
   }
.s18{border-bottom: 1px solid black;
    position:static;
    background-color:teal;
    display:grid;
    }
.s19{border-bottom: 1px solid black;
    position:static;
    display:grid;
   }
.s20{border-bottom: 1px solid black;
    position:static;
    display:grid;
   } 




