
  
/*all stat related things are in this grid container*/
.Stat-container {
    display: grid;
}
/*all stat container*/

/*all primary stats*/
.Primestat-containers{
    display: grid;
    position: relative;
}
.The-Stats{
    border:1px solid black;
    display: grid;
    position: relative;
    justify-content: center;
    background-color: blue;
}
    .statnames{
        justify-content: center;
        position:relative;
        display:grid;
        grid-template-columns:2vw;
        grid-column:auto;
          border-bottom:1px solid black;
        background-color: rgb(77, 15, 15);
       
        justify-items: center;
        
        
         }
    #Secondary {
        position: relative;
        background-color: rgb(77, 15, 15);
        grid-template-columns:2vw;
       grid-column:auto;
       
       font-size:2vh; 
       justify-items: center;
    } 



.tai {
    border-bottom: 1px solid black; 
    text-align: center;
    font-size:2vh;
}
.Nin{
    border-bottom: 
    1px solid black;
    font-size:2vh;
    text-align: center;
}
.Buki{
    font-size:2vh;
    text-align: center;
    border-bottom: 1px solid black;
}
.Sta{ text-align: center;
    border-bottom: 1px solid black;   
    font-size:2vh;
}
.Ele{ text-align: center;
    border-bottom: 1px solid black; 
    font-size:2vh;
}
.Gen{
    border-bottom: 1px solid black;  
    font-size:2vh;
    text-align: center;
}
.Atk {
    
    border-bottom: 1px solid black;
    font-size:2vh;
    text-align: center;
}
.Strike{
    text-align: center;
    font-size:2vh;
    border-bottom: 1px solid black;
}
.hit{
    text-align: center;
    font-size:2vh;
    border-bottom: 1px solid black;
}
.roll{
    text-align: center;
    font-size:2vh;
    border-bottom: 1px solid black;
}
.Focus{
    font-size:2vh;
    text-align: center;
    
}

.Burst{
    font-size:2vh;
    text-align: center;
    border: 1px solid black;
}
.Range{
    font-size:2vh;
    text-align: center;
    border-bottom: 1px solid black;
}
.Boost{
    font-size:2vh;
    text-align: center;
    border-bottom: 1px solid black;
}

.Rec{
    font-size:2vh;
    text-align: center;
    border-bottom: 1px solid black;
}
.Act{
    font-size:2vh;
    text-align: center;
    border-bottom: 1px solid black;
    
}
.Mastery{
    font-size:2vh;
    text-align: center;
    border-bottom: 1px solid black;
}
.Rech{
    font-size:2vh;
    text-align: center;
    border-bottom: 1px solid black;
}
.Endu{
    font-size:2vh;
    border-bottom: 2px solid black;
}

 #txt {
    background-color:turquoise;
    
    justify-content: center;
    position:relative;
    display:grid;}


/* The inputt stats */
.input-container{
    background-color: teal;
    position:relative;
       border:solid 1px black; 
     justify-content: center;
    
     }
     #inn{
        display: grid;
        position: relative;
        }
.input-containers {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
   }
.s01{  
    border-bottom: 1px solid black; 
    position:relative;
   background-color:teal;
    display:grid;
  }
.s02{border-bottom: 1px solid black; 
    position:relative;
  background-color:teal;
    display:grid;
   
   }
.s03{
    border-bottom: 1px solid black;
     position:relative;
  background-color:teal;
     display:grid;
   }
.s04{    border-bottom: 1px solid black;
    position:relative;
   background-color:teal;
    display:grid;
   }
.s05{    border-bottom: 1px solid black;
    position:relative;
  background-color:teal;
    display:grid;
    
 }
.s06{border-bottom: 1px solid black;
    position:relative;
  background-color:teal;
    display:grid;
    
}
.s07{border-bottom: 1px solid black;
    position:relative;
  background-color:teal;
    display:grid;
   }
.s08{border-bottom: 1px solid black;
    position:relative;
    background-color:teal;
    display:grid;
  }
.s09{border-bottom: 1px solid black;
    position:relative;
    background-color:teal;
    display:grid;
  }
.s10{border-bottom: 1px solid black;
    position:relative;
    display:grid;
    background-color:teal;
 
  }
.s11{border-bottom: 1px solid black;
    position:relative;
    background-color:teal;
    display:grid;
}
.s12{border-bottom: 1px solid black;
    position:relative;
    display:grid;
    background-color:teal;
}   
.s13{border-bottom: 1px solid black;
    position:relative;
    display:grid;
    background-color:teal;
    ;}
.s14{border-bottom: 1px solid black;
    position:relative;
    background-color:teal;
    display:grid;
   }
 
.s15{border-bottom: 1px solid black;
    position:relative;
    background-color:teal;
    display:grid;
} 
.s16{ border-bottom: 1px solid black;
    position:relative;
    background-color:teal;
    display:grid;
}
.s17{border-bottom: 1px solid black;
    position:relative;
    background-color:teal;
    display:grid;
   }
.s18{border-bottom: 1px solid black;
    position:relative;
    background-color:teal;
    display:grid;
    }
.s19{border-bottom: 1px solid black;
    position:relative;
    display:grid;
   }
.s20{border-bottom: 1px solid black;
    position:relative;
    display:grid;
   } 




